{
  "openapi": "3.0.4",
  "info": {
    "title": "Nomad Admin API",
    "description": "Nomad Admin API Documentation",
    "termsOfService": "https://www.nomad.media",
    "contact": {
      "url": "https://www.nomad.media"
    },
    "license": {
      "name": "MIT"
    },
    "version": "2026-04"
  },
  "servers": [
    {
      "url": "https://sample-site.com/api"
    }
  ],
  "paths": {
    "/account/login": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Authenticate a user and obtain a JWT access token.",
        "description": "\r\n<b>Behavior:</b> Validates the user's credentials and, if successful, creates a new session and returns\r\n            a JWT access token with a refresh token. Accounts that are disabled, expired, pending invitation, or pending\r\n            approval will be rejected. Guest users must have a valid profile and permitted application access.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> Creates a new user session. The login event is recorded for auditing purposes.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is null. Returns 404 if authentication fails or the user cannot be found.\r\n            Returns 403 if the user account is Disabled, Expired, PendingInvitation, or PendingApproval.\r\n            LoginStatus on the response indicates the specific failure reason (e.g., IsDisabled, IsPendingEmailConfirmation, RequiresNewPassword).",
        "requestBody": {
          "description": "A Nomad.Common.Models.Security.LoginRequestModel containing the user's email (UserName), password, and optional ApplicationId for session tracking.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication succeeded. Returns the JWT token, refresh token, user profile, and session information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLoginResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is null or missing required fields (UserName, Password).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Authentication failed — invalid credentials or user not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/logout": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Log out the currently authenticated user and end their session.",
        "description": "\r\n<b>Behavior:</b> Ends the user's active session and invalidates the authentication token.\r\n            If a UserSessionId is provided, that specific session is terminated.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token ([Authorize]).\r\n\r\n<b>Side Effects:</b> Terminates the user session. The logout event is recorded for auditing purposes.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Security.LogoutRequestModel containing the optional UserSessionId to delete and optional ApplicationId.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user was successfully logged out and the session was deleted."
          },
          "401": {
            "description": "The caller is not authenticated."
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/account/ping": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Check if the user session is still valid and update the session activity timestamp.",
        "description": "\r\n<b>Behavior:</b> Validates that the specified session is still active and keeps it alive by updating its\r\n            last activity timestamp. If single-session enforcement is enabled, detects whether the session has been replaced\r\n            by a newer login. Also checks whether the user's account has expired.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token ([Authorize]).\r\n\r\n<b>Side Effects:</b> Updates the session's last activity timestamp. May mark the session as expired if the user account is no longer valid.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is null. Returns PingStatus.AccountExpired if the user or session is expired.\r\n            Returns PingStatus.SessionReplaced if single-session enforcement detected a newer session.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.PingRequestModel containing the UserSessionId and optional ApplicationId.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/PingRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The session is valid. PingStatus will be Normal for active sessions, or AccountExpired/SessionReplaced if the session should be terminated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is null or UserSessionId is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The caller is not authenticated."
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/account/refresh-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve a new JWT access token using a refresh token.",
        "description": "\r\n<b>Behavior:</b> Exchanges a valid refresh token for a new JWT access token. The response includes\r\n            the new token, a new refresh token, and the expiration duration in seconds.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required. The refresh token itself serves as the credential.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is null. Returns 404 if the refresh token is invalid or expired.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.RefreshTokenRequestModel containing the RefreshToken obtained from a previous login or token refresh.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refresh succeeded. Returns a new JWT token and refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLoginResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is null or RefreshToken is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The refresh token is invalid or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/change-email": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change the email address of the currently authenticated user.",
        "description": "\r\n<b>Behavior:</b> Updates the authenticated user's email address to the new value provided.\r\n            The current password must be supplied for verification. After a successful change,\r\n            the user must re-authenticate with the new email address.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token ([Authorize]).\r\n\r\n<b>Side Effects:</b> Changes the user's email address. The user must re-authenticate after the change.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or the authenticated user's email cannot be determined. Throws if the user account is disabled.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.ChangeEmailRequestModel containing the current Password for verification and the NewEmail to set.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was successfully changed. The user must re-authenticate with the new email."
          },
          "400": {
            "description": "The request is null, the CognitoEmail claim is missing, or the user account is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The caller is not authenticated."
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/account/change-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change the password of the currently authenticated user.",
        "description": "\r\n<b>Behavior:</b> Updates the authenticated user's password. The current password must be supplied\r\n            for verification along with the new password. The existing access token remains valid until expiration.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token ([Authorize]).\r\n\r\n<b>Side Effects:</b> Updates the user's password. The existing token remains valid until expiration.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or the authenticated user's email cannot be determined. Throws if the user account is disabled or the current password is incorrect.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.ChangePasswordRequestModel containing the current Password for verification and the NewPassword to set.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The password was successfully changed."
          },
          "400": {
            "description": "The request is null, the CognitoEmail claim is missing, the current password is incorrect, or the user is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The caller is not authenticated."
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/account/forgot-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Trigger a password reset code to be sent to the user's email address.",
        "description": "\r\n<b>Behavior:</b> Initiates the password reset flow for the specified user account. If the account is active,\r\n            a 6-digit verification code is sent to the user's email address. The code should then be submitted to the\r\n            reset-password endpoint along with the new password. If the account requires email verification first,\r\n            the response LoginStatus will indicate this.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> Sends a password reset email with a 6-digit verification code to the user.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or UserName is missing. The response LoginStatus indicates\r\n            IsPendingEmailConfirmation (4) if the account needs email verification first, IsPendingNewAccountSignup (5) if the account\r\n            is not fully registered, or IsDisabled if the account is disabled.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.ForgotPasswordRequestModel containing the UserName (email address) of the account.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The password reset code was sent, or the response indicates a pending account state that must be resolved first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The request is null or UserName is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/register": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Register a new user account with a unique email address.",
        "description": "\r\n<b>Behavior:</b> Creates a new user account with the specified email, name, and password. The email must be unique.\r\n            Depending on the tenant configuration, the account may be auto-approved (Normal status) or require admin approval\r\n            (PendingApproval status). A verification email is sent to the user to confirm their email address.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> Creates a new user account. Sends a verification email to the user.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or Email is empty. Throws if a user with the same email already exists.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.UserRegistrationRequestModel containing Email, FirstName, LastName, Password, and optional custom Properties.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account was successfully created. The user must verify their email before logging in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "400": {
            "description": "The request is null, Email is empty, or a user with this email already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/register-guest": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Complete registration for a guest user who was invited via the invite-user endpoint.",
        "description": "\r\n<b>Behavior:</b> Completes the registration process for a user who received a guest invitation.\r\n            The user must have a pending invitation that has not expired. Sets the user's password, verifies their\r\n            email address, and activates their account so they can log in.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required. The invitation itself serves as authorization.\r\n\r\n<b>Side Effects:</b> Activates the guest user account and marks their email as verified.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null. Throws if the user does not exist, is not in PendingInvitation status,\r\n            the invitation has expired, no security records exist, or no guest profile is configured.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.UserRegistrationRequestModel containing Email, Password, FirstName, and LastName for the guest user.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The guest account was successfully activated. The user can now log in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "400": {
            "description": "The request is null, the user is not in PendingInvitation status, the invitation has expired, or guest profile is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/resend-code": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Re-send the email verification confirmation code to the user.",
        "description": "\r\n<b>Behavior:</b> Re-sends the email verification confirmation code to the specified user's email address.\r\n            Use this when the original verification email was not received or the code has expired.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> Sends a verification email to the user with a new confirmation code.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or UserName is missing. Throws if the user does not exist.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.ResendConfirmationCodeRequestModel containing the UserName (email address) to re-send the code to.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationCodeRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The confirmation code was re-sent to the user's email address."
          },
          "400": {
            "description": "The request is null or UserName is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/reset-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset the user's password using a verification code from the forgot-password email.",
        "description": "\r\n<b>Behavior:</b> Completes the password reset flow by validating the verification code from the forgot-password email\r\n            and setting the new password. For accounts pending approval, this also completes the email verification step.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required. The reset token serves as the credential.\r\n\r\n<b>Side Effects:</b> Updates the user's password. For pending-approval accounts, also verifies the email address.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or UserName is missing. Throws if the user is disabled or the reset token is invalid/expired.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.ResetPasswordRequestModel containing UserName (email), the Token from the reset email, and the NewPassword to set.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The password was successfully reset. The user can now log in with the new password."
          },
          "400": {
            "description": "The request is null, UserName is missing, the reset token is invalid or expired, or the user is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/user": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the profile of the currently authenticated user.",
        "description": "\r\n<b>Behavior:</b> Retrieves the profile information for the currently authenticated user based on their access token.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token ([Authorize]).\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 404 if the user profile cannot be found. Returns 401 if the caller is not authenticated.",
        "responses": {
          "200": {
            "description": "Returns the authenticated user's profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "404": {
            "description": "The user entity was not found for the authenticated user's ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The caller is not authenticated."
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/account/verify": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Verify a user's email address using a confirmation code.",
        "description": "\r\n<b>Behavior:</b> Confirms the user's email address using the verification code sent during registration.\r\n            If the account requires admin approval, the response LoginStatus will be IsDisabled to indicate the account\r\n            is verified but not yet approved for use.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> Marks the user's email address as verified.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request is null or UserName is missing. Throws if the verification token is invalid or expired.",
        "requestBody": {
          "description": "A Nomad.Common.Models.Account.VerifyEmailRequestModel containing the UserName (email) and the Token from the verification email.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was verified. Check LoginStatus — null means active, IsDisabled means pending approval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "The request is null, UserName is missing, or the verification token is invalid/expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/ads/vmap/{assetId}": {
      "get": {
        "tags": [
          "Ad"
        ],
        "summary": "Retrieves the VMAP (Video Multiple Ad Playlist) XML for an asset.",
        "description": "\r\n<b>Behavior:</b> Generates and returns the VMAP XML document that defines all ad break\r\n            positions and their associated VAST ad tag URLs for the specified asset. Video players use\r\n            this to schedule ad insertions during playback.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 404 if no VMAP data exists for the asset.",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "The unique identifier of the asset to retrieve VMAP data for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The VMAP XML was generated successfully."
          },
          "404": {
            "description": "No VMAP data found for the asset.",
            "content": {
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/ads/vast": {
      "get": {
        "tags": [
          "Ad"
        ],
        "summary": "Retrieves a VAST (Video Ad Serving Template) XML response for ad playback.",
        "description": "\r\n<b>Behavior:</b> Returns a VAST XML document containing the ad creative details for playback\r\n            at the specified timecode position. The response can be filtered by content categories and\r\n            ad position type (pre-roll, mid-roll, post-roll).\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 404 if no VAST ad is available for the given parameters.",
        "parameters": [
          {
            "name": "timeCode",
            "in": "query",
            "description": "The timecode position in the video where the ad will be inserted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Optional content category filters for ad targeting.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "vpos",
            "in": "query",
            "description": "The ad position type (e.g., \"preroll\", \"midroll\", \"postroll\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The VAST XML was generated successfully."
          },
          "404": {
            "description": "No VAST ad available for the given parameters.",
            "content": {
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/ads/impression": {
      "get": {
        "tags": [
          "Ad"
        ],
        "summary": "Records an ad impression tracking beacon.",
        "description": "\r\n<b>Behavior:</b> Accepts an impression beacon request triggered when an ad is displayed\r\n            to a viewer. Returns a minimal HTML response suitable for use as a tracking pixel.\r\n            Currently acts as a placeholder for future impression analytics.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> None currently. Reserved for future impression tracking analytics.\r\n\r\n<b>Error Scenarios:</b> None — always returns a successful response.",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "description": "The unique identifier of the ad asset that was displayed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The impression was recorded."
          }
        }
      },
      "head": {
        "tags": [
          "Ad"
        ],
        "summary": "Records an ad impression tracking beacon.",
        "description": "\r\n<b>Behavior:</b> Accepts an impression beacon request triggered when an ad is displayed\r\n            to a viewer. Returns a minimal HTML response suitable for use as a tracking pixel.\r\n            Currently acts as a placeholder for future impression analytics.\r\n\r\n<b>Authorization:</b> Public endpoint — no authentication required.\r\n\r\n<b>Side Effects:</b> None currently. Reserved for future impression tracking analytics.\r\n\r\n<b>Error Scenarios:</b> None — always returns a successful response.",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "description": "The unique identifier of the ad asset that was displayed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The impression was recorded."
          }
        }
      }
    },
    "/admin/asset/{id}/getAssetChildNodes": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves child folder nodes for a given parent folder in the asset tree.",
        "description": "\r\n<b>Behavior:</b> Returns a paginated, sortable list of child folders under the specified parent.\r\n            If the parent is the root (empty GUID), all top-level storage bucket folders are returned.\r\n            Results include folder metadata such as media type, content length, and modification date.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "description": "The ID of the parent folder. Use an empty GUID to retrieve top-level folders.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "The column to sort by (e.g., \"name\", \"contentLength\", \"mediaType\"). Defaults to \"name\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Whether to sort in descending order. Defaults to false (ascending).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero-based page index for pagination. Defaults to 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page. Defaults to 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The child folders were retrieved successfully."
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/transcription-words": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves the word-level transcription data for an asset.",
        "description": "\r\n<b>Behavior:</b> Returns the detailed transcription with individual word timings and confidence scores\r\n            for the specified asset. The asset must have been previously transcribed.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if the asset has no transcription data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the asset to retrieve transcription words for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The transcription words were retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionV2Model"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No transcription data found for the asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{name}": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Executes a batch action on one or more assets.",
        "description": "\r\n<b>Behavior:</b> Performs the specified batch action (e.g., delete, archive, restore, reprocess)\r\n            on the assets identified in the request payload. The action name is specified in the URL path and must\r\n            correspond to a valid batch action. Results include the status of each affected asset.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> Varies by action — may delete assets, start processing jobs, move files,\r\n            or trigger other asynchronous operations.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the action name is not valid or the request body is missing.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The batch action to perform (e.g., \"delete\", \"archive\", \"restore\", \"reprocess\"). Case-insensitive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The batch payload containing target asset IDs and optional action arguments.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The batch action was executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResultModel"
                }
              }
            }
          },
          "400": {
            "description": "The action name is invalid or the request body is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/register": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Registers an existing storage object as a managed asset.",
        "description": "\r\n<b>Behavior:</b> Looks up an object in storage by its bucket name and object key, then creates\r\n            a managed asset record for it. The asset will be indexed and made available for browsing, searching,\r\n            and media operations. Both the bucket name and object key are required.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> Creates a new asset record and triggers indexing.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if bucket name or object key is missing.\r\n            Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no object exists at the specified bucket/key location.",
        "requestBody": {
          "description": "The registration details including bucket name and object key.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAssetModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset was registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "Bucket name or object key is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No object found at the specified storage location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves an asset by its unique identifier.",
        "description": "\r\n<b>Behavior:</b> Returns the asset metadata for the specified ID, including properties\r\n            such as name, type, status, and storage location.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no asset exists with the specified ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No asset found with the specified ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Deletes an asset by its unique identifier.",
        "description": "\r\n<b>Behavior:</b> Permanently deletes the specified asset. If the asset is a folder,\r\n            all child assets within the folder are also deleted. The asset is removed from storage\r\n            and the search index.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> The asset and its associated files are permanently removed.\r\n            For folders, all child assets are recursively deleted.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no asset exists with the specified ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No asset found with the specified ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Updates specific properties of an asset such as its display name or custom metadata.",
        "description": "\r\n<b>Behavior:</b> Updates the specified properties on the asset without affecting other\r\n            attributes. Use this for lightweight property changes. For more complex operations (e.g., clipping,\r\n            language change, archiving), use the dedicated endpoints.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> The asset's search index entry is updated with the new properties.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is missing.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The properties to update on the asset.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetPropertiesModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset properties were updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves an asset by its storage bucket name and object key.",
        "description": "\r\n<b>Behavior:</b> Looks up the asset using the storage bucket name and object key combination\r\n            and returns its metadata. Both parameters are required.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if bucket name or object key is missing.\r\n            Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no asset exists at the specified storage location.",
        "parameters": [
          {
            "name": "bucketName",
            "in": "query",
            "description": "The name of the storage bucket containing the asset. Required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectKey",
            "in": "query",
            "description": "The object key (path) of the asset within the bucket. Required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModel"
                }
              }
            }
          },
          "400": {
            "description": "Bucket name or object key is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No asset found at the specified storage location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/language": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Changes the language of an asset and triggers AI reprocessing.",
        "description": "\r\n<b>Behavior:</b> Updates the language setting for the asset. This triggers reprocessing\r\n            of AI-powered features such as transcription, subtitle generation, and text detection\r\n            to use the new language.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> Triggers asynchronous reprocessing of AI data (transcription, subtitles, etc.)\r\n            for the new language.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is missing.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The new language setting for the asset.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAssetLanguageModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset language was updated and reprocessing was triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{parentId}/create-folder": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Creates a new folder asset under the specified parent folder.",
        "description": "\r\n<b>Behavior:</b> Creates a new folder within the specified parent folder. The folder display name\r\n            is required and must be provided in the request body. The new folder is immediately available\r\n            for browsing and uploading assets into.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> A new folder is created in storage and indexed for search.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the display name is missing or the request body is invalid.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "The ID of the parent folder where the new folder will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The new folder details including the display name.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The folder was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The folder was not created — display name is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{parentId}/create-placeholder": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Creates a placeholder asset under the specified parent folder.",
        "description": "\r\n<b>Behavior:</b> Creates a new placeholder asset within the specified parent folder. A placeholder\r\n            reserves a spot in the asset tree before actual media content is uploaded. The asset name is required.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> A new placeholder asset record is created and indexed.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the asset name is missing or the request body is invalid.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "The ID of the parent folder where the placeholder will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The placeholder details including the asset name.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaceholderModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The placeholder was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The placeholder was not created — asset name is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/duplicate": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Creates a duplicate copy of the specified asset.",
        "description": "\r\n<b>Behavior:</b> Creates a full copy of the asset including its metadata and media files.\r\n            The duplicated asset is placed in the same folder as the original.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> A new asset is created with copied files and metadata.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no asset exists with the specified ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to duplicate.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was duplicated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No asset found with the specified ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/copy": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Copies an asset to a different location.",
        "description": "\r\n<b>Behavior:</b> Creates a copy of the specified asset in the target location provided\r\n            in the batch model. The original asset remains unchanged. The batch model should include\r\n            the destination folder ID in the action arguments.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> A new asset copy is created at the target location.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is missing.\r\n            Returns 401 if the caller is not authenticated.\r\n            Returns 404 if no asset exists with the specified ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to copy.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The batch payload containing the target destination and optional arguments.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset was copied successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No asset found with the specified ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/archive": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Archives an asset to long-term storage.",
        "description": "\r\n<b>Behavior:</b> Moves the asset to archival storage, reducing storage costs while preserving\r\n            the asset for future retrieval. Archived assets are not immediately accessible for streaming or\r\n            download — they must first be restored using the restore endpoint.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token with file write permissions on the asset.\r\n\r\n<b>Side Effects:</b> The asset's storage class is changed to archival. The asset will become\r\n            unavailable for direct access until restored.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 403 if the caller does not have write permissions on the asset.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to archive.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was archived successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have write permissions on the asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/index": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Triggers re-indexing of an asset in the search index.",
        "description": "\r\n<b>Behavior:</b> Queues the asset for re-indexing, which refreshes its metadata in the\r\n            search index. Use this after external changes to an asset that may not have been automatically detected.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> The asset is queued for asynchronous re-indexing. The search index\r\n            will be updated once processing completes.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to re-index.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was queued for re-indexing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/move": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Moves an asset to a different folder.",
        "description": "\r\n<b>Behavior:</b> Moves the specified asset to the target folder provided in the batch model.\r\n            The asset retains its identity and metadata but is relocated in the folder hierarchy.\r\n            The batch model should include the destination folder ID in the action arguments.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> The asset is relocated to the new folder. The search index is updated\r\n            to reflect the new location.\r\n\r\n<b>Error Scenarios:</b> Returns 400 if the request body is missing.\r\n            Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the asset to move.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The batch payload containing the destination folder and optional arguments.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/BatchModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset was moved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdModel"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/parent-folders": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves the full parent folder hierarchy for an asset.",
        "description": "\r\n<b>Behavior:</b> Returns all ancestor folders for the specified asset, from the root down to\r\n            the immediate parent. Results are structured hierarchically — each folder's identifiers object includes\r\n            a children attribute pointing to the next sub-folder in the chain. The specified asset itself is\r\n            not included in the results. Works for both file and folder assets.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the asset to retrieve parent folders for. Can be either a file or folder.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of folders to retrieve per level of the tree. Defaults to 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The parent folder hierarchy was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResultModelSearchResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/upload": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves the list of uploads for the current user.",
        "description": "\r\n<b>Behavior:</b> Returns all uploads initiated by the current user. By default, only\r\n            in-progress uploads are returned. Set includeCompletedUploads to true\r\n            to also include completed uploads.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "includeCompletedUploads",
            "in": "query",
            "description": "If true, includes completed uploads in the results. If false, only in-progress uploads are returned.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upload list was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetUploadModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/upload/{id}": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves the individual upload parts for a multipart upload.",
        "description": "\r\n<b>Behavior:</b> Returns all parts associated with the specified upload, including both\r\n            completed and pending parts. Each part includes its upload URL, part number, and completion status.\r\n            Use this to track the progress of a multipart upload or to resume a partially completed upload.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the asset upload to retrieve parts for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upload parts were retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetPartUploadModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/{segmentId}/detail": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves detailed information for a specific segment of an asset.",
        "description": "\r\n<b>Behavior:</b> Returns the full detail model for the specified segment, including\r\n            media properties, URLs, metadata, and processing status. Segments represent individual\r\n            clips or sections within a parent asset.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if the asset or segment is not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the parent asset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "description": "The unique identifier of the segment within the asset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The segment detail was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDetailModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The asset or segment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/{segmentId}/{screenshotId}/detail": {
      "get": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Retrieves detailed information for a specific screenshot within an asset segment.",
        "description": "\r\n<b>Behavior:</b> Returns the full detail model for the specified screenshot, including\r\n            image properties, URLs, and metadata. Screenshots are images captured at specific timecodes\r\n            within a video asset segment.\r\n\r\n<b>Authorization:</b> Requires a valid Bearer token.\r\n\r\n<b>Side Effects:</b> None.\r\n\r\n<b>Error Scenarios:</b> Returns 401 if the caller is not authenticated.\r\n            Returns 404 if the asset, segment, or screenshot is not found.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the parent asset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "description": "The unique identifier of the segment within the asset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "screenshotId",
            "in": "path",
            "description": "The unique identifier of the screenshot.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The screenshot detail was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDetailModel"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The asset, segment, or screenshot was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/admin/asset/{id}/clip": {
      "post": {
        "tags": [
          "AdminAsset"
        ],
        "summary": "Creates a clip (sub-segment) from a video asset.",
[...]
